@{
    ViewBag.Title = "Przetwarzanie danych";
}
<h2>@ViewBag.Title</h2>
<br />
<br />
<table>
    <tr>
        <th>Oblicz średnią wartośc tempa w każdym roku zawodów:</th>
        <td width="125"></td>
        <td>
            <form action=przycisk>
                <input type="submit" value="Oblicz">
            </form>
        </td>
    </tr>
    <tr>
        <td><br />  </td>
    </tr>
    </table>
<table>
    <tr>
        <td width="50">2014</td>
        <td width="50">2015</td>
        <td width="50">2016</td>
        <td width="50">2017</td>
        <td width="50">2018</td>
    </tr>
    <tr>
        <td>3.47</td>
        <td>5.32</td>
        <td>4.36</td>
        <td>3.50</td>
        <td>4.09</td>
    </tr>
    <tr>
        <td><br />  </td>
    </tr>
</table>
<table>
    <tr>
        <th>Oblicz średnią wartośc wyniku w każdym roku zawodów:</th>
        <td width="120"></td>
        <td>
            <form action=przycisk>
                <input type="submit" value="Oblicz">
            </form>
        </td>
    </tr>
    <tr>
        <td><br />  </td>
    </tr>
    </table>
<table>
    <tr>
        <td width="50">2014</td>
        <td width="50">2015</td>
        <td width="50">2016</td>
        <td width="50">2017</td>
        <td width="50">2018</td>
    </tr>
    <tr>
        <td>38.11</td>
        <td>52.48</td>
        <td>39.20</td>
        <td>38.28</td>
        <td>44.47</td>
    </tr>
    <tr>
        <td><br />  </td>
    </tr>
</table>
<table>
    <tr>
        <th>Oblicz średnią wartośc czasu w każdym roku zawodów wśród kobiet:</th>
        <td width="40"></td>
        <td>
            <form action=przycisk>
                <input type="submit" value="Oblicz">
            </form>
        </td>
    </tr>
    <tr>
        <td><br />  </td>
    </tr>
    </table>
<table>
    <tr>
        <td width="50">2014</td>
        <td width="50">2015</td>
        <td width="50">2016</td>
        <td width="50">2017</td>
        <td width="50">2018</td>
    </tr>
    <tr>
        <td>38.40</td>
        <td>52.48</td>
        <td>37.47</td>
        <td>36.53</td>
        <td>44.47</td>
    </tr>
    <tr>
        <td><br />  </td>
    </tr>
</table>
<table>
    <tr>
        <th>Oblicz średnią wartośc czasu w każdym roku zawodów wśród mężczyzn:</th>
        <td width="15"></td>
        <td>
            <form action=przycisk>
                <input type="submit" value="Oblicz">
            </form>
        </td>
    </tr>
    <tr>
        <td><br />  </td>
    </tr>
    </table>
<table>
    <tr>
        <td width="50">2014</td>
        <td width="50">2015</td>
        <td width="50">2016</td>
        <td width="50">2017</td>
        <td width="50">2018</td>
    </tr>
    <tr>
        <td>37.43</td>
        <td></td>
        <td>42.55</td>
        <td>41.39</td>
        <td></td>
    </tr>
    <tr>
        <td><br />  </td>
    </tr>
</table>
<table>
    <tr>
        <th>Oblicz średni wiek uczestników w roku 2016:</th>
        <td width="205"></td>
        <td>
            <form action=przycisk>
                <input type="submit" value="Oblicz">
            </form>
        </td>
    </tr>
    <tr>
        <td><br />  </td>
    </tr>
    <tr>
        <td>Sredni wiek uczestników w 2016 roku: 29 lat</td>
    </tr>
    <tr>
        <td><br />  </td>
    </tr>
</table>
<table>
    <tr>
        <th>
            Wyszukaj lepsze czasy wyników w 2017 roku od:
        </th>
        <td width="5"></td>
        <td>
            <form action=text>
                <input type="text" name="nazwa">
            </form>
        </td>
        <td width="15"></td>
        <td>
            <form action=przycisk>
                <input type="submit" value="Wyszukaj">
            </form>
    </tr>
    </table>
<table>
    <tr>
        <td width="100">Nazwisko</td>
        <td width="100">Wynik</td>
    </tr>
    <tr>
        <td>Chepleting</td>
        <td>35.54</td>
    </tr>

</table>

<table>
    <tr>
        <td><br />  </td>
    </tr>
    <tr>
        <th>Wyszukaj najlepszego uczestnika w ciągu 5-ciu lat:</th>
        <td width="160"></td>
        <td>
            <form action=przycisk>
                <input type="submit" value="Wyszukaj">
            </form>
        </td>
    </tr>
    <tr>
        <td><br />  </td>
    </tr>
    <tr>
        <td> Betty Chepleting </td>
    </tr>
    <tr>
        <td><br />  </td>
    </tr>
</table>
<table>
   
    <tr>
        <th>Podaj pochodzenie wygranego w każdym roku zawodów:</th>
        <td width="120"></td>
        <td>
            <form action=przycisk>
                <input type="submit" value="Podaj">
            </form>
        </td>
    </tr>
    <tr>
        <td><br />  </td>
    </tr>

</table>
<table>
    <tr>
        <td width="50">2014</td>
        <td width="50">2015</td>
        <td width="50">2016</td>
        <td width="50">2017</td>
        <td width="50">2018</td>
    </tr>
    <tr>
        <td>Polska</td>
        <td>Kenia</td>
        <td>Kenia</td>
        <td>Kenia</td>
        <td>Kenia</td>
    </tr>
    <tr>
        <td><br />  </td>
    </tr>
</table>

<table>
    <tr>
        <td><br /> <br />  </td>
    </tr>
    <tr>
      
        <td>
            <form action=przycisk>
                <input type="submit" value="Wygeneruj plik XML z powyższymi danymi">
            </form>
        </td>
    </tr>
    <tr>
        <td><br />  </td>
    </tr>

</table>
