@{
    ViewBag.Title = "Wykonały";
}
<h2>@ViewBag.Title</h2>
<br/>

<address>
    Kinga Pszeniczna w57122, 5IIZ/2016-SPLPriprda01
</address>
<address>
    Agnieszka Zaguła w57097, 5IIZ/2016-SPLPriprda01
</address>
<address>
    Katarzyna Dobrowolska w57470, 5IIZ/2016-SPLPriprda04
</address>
