@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Wykaz wyników półmaratonu Rzeszowskiego w latach 2014-2018</h1>

</div>

@{
    ViewBag.Title = "Wykonały";
}
<h2>@ViewBag.Title</h2>
<br />

<address>
    Kinga Pszeniczna w57122, 5IIZ/2016-SPLPriprda01
</address>
<address>
    Agnieszka Zaguła w57097, 5IIZ/2016-SPLPriprda01
</address>
<address>
    Katarzyna Dobrowolska w57470, 5IIZ/2016-SPLPriprda04
</address>
